body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center
}

.avatar {
  margin: 1em;
}

pre {
  padding: 2em;
  white-space: pre-wrap;
}
